
body{
	font-family: "Arial";
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	background-color: #212121;
}

nav h1 {
	text-align: center;
	color: white;
	font-size: 70px;
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Dancing Script', cursive;
}
.poziom_trudnosci {
	color: white;
	width: 210px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.poziom_trudnosci .poziom{
	width: 100px;
	float: left;
	height: 30px;
	background-color: #B63F6B;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	transition: opacity 0.25s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.poziom:hover {
	opacity: 0.8;
}

.all {
	margin: auto;
}
.pojemnik_plansza{
	width: 560px;
	background-color: #303030;
	margin: auto;
	box-shadow:0 12px 12px rgba(0,0,0,0.23);
	border-radius: 10px;
	padding-bottom: 15px;
}
#plansza{
	width: 560px;
	height: 470px;
	clear: both;
	margin:0 auto;
}
#level {
	margin-bottom: 20px;
}

.kafelek{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #ffffff;
	border-radius: 4px;
	float: left;
	font-size: 60px;
	text-align: center;
	line-height: 100px;
	opacity:0.8;
	cursor: pointer;
	transition: box-shadow 0.25s ease;
}

.kafelek:hover{
	box-shadow: inset 0px 0px 0px 4px rgba(182,63,107,1);
}
.kafelek-hard:hover {
	box-shadow: inset 0px 0px 0px 4px rgba(182,63,107,1);
}

.kafelek.flip {
  transform: rotateY(180deg);
}

.kafelek-hard{
	width: 70px;
	height: 70px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #ffffff;
	border-radius: 4px;
	float: left;
	font-size: 40px;
	text-align: center;
	line-height: 70px;
	opacity:0.8;
	cursor: pointer;
	transition: box-shadow 0.25s ease;
}


.kafelek_js {
	background-color: #4dd599 !important;
	color: white;
  	transition: opacity 0.5s linear;
  	transition-delay: 0.5s;
  	opacity: 0 !important;
  	animation: 1s fadeIn;
  	animation-fill-mode: forwards;
  	visibility: visible;
}

@keyframes fadeIn {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

#countdown {
	margin: 0 auto;
	width: 190px;
	height: 20px;
	color: white;
	background-color: #B63F6B;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button {
	cursor: pointer;
	font-family: "Arial";
	font-size: 15px;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	width: 210px;
	border: none;
	height: 40px;
	color: white;
	background-color: #B63F6B;
	border-radius: 5px;
	text-align: center;
	transition: opacity 0.25s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

}
button:focus{
	outline: none;
}
button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.plansza_koniec {
	color: white;
	font-size: 50px;
	text-align: center;
	line-height: 450px;
}

footer p {
	position: absolute;
	width: 163px;
	bottom: 0;
	right: 40%;
	left: 40%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	opacity: 0.2;
}